{% extends 'common/base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <main>
        <section>
            <div class="form">
                <h2>Create New Genre</h2>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Create Genre</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}