{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <main>
        {% if book_list %}
            <h2 style="text-align:center;" id="catalog">Book Catalog</h2>
        {% else %}
            <h2 style="text-align:center;" id="catalog">No books yet</h2>
        {% endif %}
        <section>
            {% for book in book_list %}
                <main class="main-content">
                <div class="container">
                    <div class="card">
                        {% if book.cover_image %}
                            <a id="logo" href="{% url 'book_detail_page' book.id %}">
                            <img id=book-image src="{{ book.cover_image.url }}" alt="{{ book.title }} Cover">
                        {% else %}
                            <a id="logo" href="{% url 'book_detail_page' book.id %}">
                            <img src="{% static 'images/book_cover_placeholder.png' %}" alt="Book Cover">
                        {% endif %}
                        <div class="card-content">
                            <h3>{{ book.title }}</h3>
                            <h4>By</h4>
                            <a href="{% url 'author_detail_page' book.author.id %}">{{ book.author }}</a>
                            <p>Genres:
                                {% for genre in book.genre.all %}
                                    <a href="{% url 'books_by_genre_page' genre.id %}">{{ genre.name }}</a>
                                    {% if not forloop.last %}
                                    {% endif %}
                                {% endfor %}</p>
                            <p class="description">Description: {{ book.description }}</p>
                            <p><strong>Average Rating:</strong>
                                {% if book.average_rating %}
                                    {{ book.average_rating|floatformat:1 }} / 5
                                {% else %}
                                    No ratings yet
                                {% endif %} </p>
                            <p>{% if book.is_available %}
                                <strong>Available</strong>
                            {% else %}
                                Not available
                            {% endif %}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div>
                {% if is_paginated %}
                    <div style="text-align:center;">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">First</a>
                            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}
                        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">Next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            </main>
{% endblock %}