{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <main class="book-detail">
        <div class="container">
            <div class="book-detail-wrapper">
                <div class="book-image">
                    {% if book.cover_image %}
                        <img src="{{ book.cover_image.url }}" alt="{{ book.title }} Cover Image">
                    {% else %}
                        <img src="https://res.cloudinary.com/dp64szeji/image/upload/v1733851540/book_cover_placeholder_msdxcz.png" alt="Book Cover">
                    {% endif %}
                </div>
                <div class="book-info">
                    <h1>{{ book.title }}</h1>
                    <p><strong>Author:</strong> <a
                            href="{% url 'author_detail_page' book.author.id %}">{{ book.author.name }}</a></p>
                    <p><strong>Year of Publish:</strong> {{ book.year_of_publish }}</p>
                    <p><strong>Pages:</strong> {{ book.pages }}</p>
                    <p><strong>Genres:</strong>
                        {% for genre in book.genre.all %}
                            <a href="{% url 'books_by_genre_page' genre.id %}">{{ genre.name }}</a>
                        {% endfor %}
                    </p>
                    <p><strong>Publisher:</strong> {{ book.publisher }}</p>
                    <p><strong>Description:</strong> {{ book.description }}</p>
                    <p><strong>Average Rating:</strong>
                        {% if average_rating %}
                            {{ average_rating|floatformat:1 }} / 5
                        {% else %}
                            No ratings yet
                        {% endif %} </p>
                    <p>{% if book.is_available %}
                        <strong>Available</strong>
                    {% else %}
                        Not available
                    {% endif %}</p>
                    {% if user == book.created_by %}
                        <h2>User Borrow Info</h2>
                        <p>Borrowed by: {{ user_borrow_info.borrower.username }}</p>
                        <p>Borrowed at: {{ user_borrow_info.borrow_date|date:"j F Y" }}</p>
                    {% endif %}
                    {% if user == book.created_by or user_borrow %}
                        <p>Due Date: {{ user_borrow_info.return_date|date:"j F Y" }}</p>
                    {% endif %}
                {% if not book.is_approved %}
                            {% if user.is_staff %}
                                <form method="POST" action="{% url 'approve_book_page' book.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-approve">Approve Book</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    <div class="buttons">
                        {% if book.is_available %}
                            <a href="{% url 'borrow_book_page' book.pk %}" class="btn btn-borrow">Borrow This Book</a>
                        {% endif %}
                        {% if user_borrow %}
                            <form action="{% url 'return_book_page' user_borrow.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-borrow">Return Book</button>
                            </form>
                        {% endif %}
                        {% if user == book.created_by %}
                            <a href="{% url 'book_edit_page' book.id %}" class="btn btn-edit">Edit Book</a>
                            <form action="{% url 'book_delete_page' book.id %}" method="POST" class="delete-form">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-delete">Delete Book</button>
                            </form>
                            </div>
                        {% endif %}
                </div>
            </div>
            <div class="review-section">
                <div class="review-container">
                    {% if user_review %}
                        <div class="your-review">
                            <h2>Your Review</h2>
                            <p><strong>Rating:</strong> {{ user_review.rating }}/5</p>
                            <p>{{ user_review.comment }}</p>
                            <p><em>Submitted on {{ user_review.created_at|date:"H:i, j F Y" }}</em></p>
                            <div class="buttons">
                                <a href="{% url 'review_edit_page' user_review.id %}" class="btn btn-edit">Edit
                                    Review</a>
                                <form action="{% url 'review_delete_page' user_review.id %}" method="POST"
                                      class="delete-form">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-delete">Delete Review</button>
                                </form>
                            </div>
                        </div>
                    {% else %}
                        <div class="add-review">
                            <h2>Add a Review</h2>
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-submit">Submit Review</button>
                            </form>
                        </div>
                    {% endif %}
                    <div class="all-reviews">
                        <h2>All Reviews</h2>
                        <ul>
                            {% for review in reviews %}
                                {% if review != user_review %}
                                    <li>
                                        <p><strong>{{ review.user.username }}</strong>
                                            ({{ review.created_at|date:"H:i, j F Y" }})</p>
                                        <p><strong>Rating:</strong> {{ review.rating }}/5</p>
                                        <p>{{ review.comment }}</p>
                                    </li>
                                {% endif %}
                            {% empty %}
                                <p>No reviews yet.</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
