{% extends 'common/base.html' %}
{% load static %}
{% block content %}
            <h1>Our Authors</h1>
        <div class="author-cards-container">
            {% for author in author_list %}
                <div class="author-card">
                    <img src="{{ author.image.url }}" alt="{{ author.name }}">
                    <h3>{{ author.name }}</h3>
                    <a href="{% url 'author_detail_page' author.id %}">View Details</a>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}