{% extends 'common/base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <main>
        <section>
            <div class="form">
                <h2>Create New Author</h2>
                <form method="POST" enctype="multipart/form-data">
                    <div class="form-container">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Create book</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}