#logo-img {
  height: 80px;
}



#profile-img {
  height: 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(159, 131, 113, 0.5);
  padding: 10px;
  flex-wrap: nowrap;
  width: 100%;
  box-sizing: border-box;
}

.menu a,
.user a {
  color: #000000;
  text-decoration: none;
  margin: 0 10px;
  white-space: nowrap;
}

.user p {
  color: #000000;
  text-decoration: none;
  margin: 0 10px;
  white-space: nowrap;
}

.menu a:hover,
.user a:hover {
  text-decoration: underline;
}