{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <main>
        <section>
            <div class="form">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-container">
                        <h2>Sign Up</h2>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" placeholder="Enter username" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <label for="password1">Password</label>
                            <input type="password" id="password1" name="password1" placeholder="Enter password"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="password2">Confirm Password</label>
                            <input type="password" id="password2" name="password2" placeholder="Confirm password"
                                   required>
                        </div>
                        <button type="submit" class="submit-btn">Sign Up</button>
                        <a href="{% url 'login_page' %}">Already have an account? Login here</a>
                    </div>
                    
                </form>
            </div>
        </section>
    </main>
{% endblock %}