{% extends 'common/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}
    <main>
        <section>
            <div class="form">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-container">
                        <h2>Sign Up</h2>
                        <div class="form-group">
                            {{ form|crispy }}
                        <button type="submit" class="submit-btn">Sign Up</button>
                        <a href="{% url 'login_page' %}">Already have an account? Login here</a>
                    </div>
                    
                </form>
            </div>
        </section>
    </main>
{% endblock %}