{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    {% if request.user.is_authenticated %}
        <main class="profile-detail">
            <div class="container">
                <div class="profile-detail-wrapper">
                    <div class="author-card">
                        {% if profile.profile_picture %}
                            <img src="{{ profile.profile_picture.url }}" alt="{{ profile.name }}">
                        {% else %}
                            <img src="https://res.cloudinary.com/dp64szeji/image/upload/v1733851541/user_placeholder_uoaoya.png"
                                 alt="{{ profile.name }}">
                        {% endif %}
                    </div>
                    <div class="profile-info">
                        <h1>{{ profile.user.username }}</h1>
                        <p><strong>Name: </strong> {{ profile.name }}</p>
                        <p><strong>Email: </strong> {{ profile.user.email }}</p>
                        <p><strong>Date of birth: </strong> {{ profile.date_of_birth|date:"d F Y" }}</p>
                        <p><strong>Bio: </strong> {{ profile.description }}</p>
                        <p><strong>Joined on: </strong> {{ profile.date_of_registration|date:"F d, Y" }}</p>
                        {% if request.user.profile.slug == profile.slug %}
                            <div class="buttons">
                                <a href="{% url 'profile_edit_page' profile.slug %}" class="btn btn-edit">Edit
                                    Profile</a>
                                <form action="{% url 'user_delete_page' profile.slug %}" method="POST"
                                      class="delete-form">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-delete">Delete Profile</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>
    {% else %}
        <h2>You're not logged in. <a href="{% url 'login_page' %}">Log In</a></h2>
    {% endif %}
{% endblock %}
