{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2>Profile</h2>
    {% if request.user.is_authenticated %}
        {% if request.user.profile.profile_picture %}
            <img id="profile-img" src="{{ user.profile.profile_picture }}" alt="profile img"/>
        {% else %}
            <img id="profile-img" src="{% static 'images/user.png' %}" alt="profile img"/>
        {% endif %}
        <p>Name: {{ user.profile.name }}</p>
        <p>Description: {{ user.profile.description }}</p>
        <p>Date of birth: {{ user.profile.date_of_birth }}</p>
        <p>Total reviews given: {{ review_count }}</p>
        {% if request.user.profile.slug == profile.slug %}
            <a href="{% url 'profile_edit_page' request.user.profile.slug %}">Edit</a>
            {#            <a href="#">Delete</a>#}
        {% endif %}
    {% else %}
        <h2>You're not logged in<a href="{% url 'login_page' %}">Log In</a></h2>
    {% endif %}
{% endblock %}